<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <!--<h2>Welcome to Chronic Health Monitor App</h2>
    <p>This application was developed as part of NHS Hack Weekend 2016 in Newcastle</p>-->
      <h2>Whats happening?</h2>
      <textarea rows="5" style="background-color: gray; width:100%"></textarea>
      <h2>How do you field?</h2>
      <div class="list">
          <div class="item range range-positive">
              <i class="icon ion-ios-sunny-outline"></i>
              <input type="range" name="volume" min="0" max="100" value="33">
              <i class="icon ion-ios-sunny"></i>
          </div>
      </div>

      <ul class="list">

          <li class="item item-toggle">
              Exercise
              <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </li>
          <li class="item item-toggle">
              Food
              <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </li>
          <li class="item item-toggle">
              Relationship
              <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </li>
          <li class="item item-toggle">
              Sleep
              <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </li>
          <li class="item item-toggle">
              Other
              <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </li>
      </ul>
</ion-content>
</ion-view>
